html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

body {
    margin: 0 auto;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

header {
    width: 100%;
    height: 70px;
    margin: 0 1%;
    font-weight: bold;
}

nav {
    display: flex;
    align-items: center;
}

main {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

.footer {
    position: relative;
    /* left: 0;/ */
    bottom: 0;
    /* right: 0; */
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#logo {
    width: 50%;
    margin: 0;
    display: flex;
}

#logo img {
    width: 70px;
    height: 70px;
    margin: 0;
}

#logo a {
    margin: 0;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0 20px;
    width: 50%;
}

.nav-menu li {
    margin: 0 20px;
}

.nav-menu li a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.nav-menu li a:hover,
.nav-menu li a:active {
    background-color: black;
    color: white;
    padding: 5px;
}

.home-page__info {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.profile-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.right-section {
    margin-left: 60px;
}

.skills {
    margin-top: 150px;
}

.skills-container {
    display: flex;
    justify-content: space-between;
}

.iconify {
    width: 43px;
    height: 43px;
    cursor: grab;
}

.nav-menu a.active {
    background-color: black;
    color: white;
    padding: 5px;
}

.skills-container i {
    cursor: grab;
}

.mobile-container {
    display: none;
}

@media only screen and (max-width: 900px) {
    nav {
        display: flex;
        align-items: center;
    }

    .mobile-container {
        display: none;
    }

    #logo {
        width: 30%;
        margin: 0;
        display: flex;
    }

    .nav-menu {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        margin: 0 20px;
        width: 70%;
    }

    .profile-image img {
        width: 100px;
        height: 100px;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 768px) {
    nav {
        display: none;
    }

    .footer {
        position: relative;
        margin-top: 20px;
    }

    .mobile-container {
        display: contents;
        width: 100%;
        margin: auto;
        color: white;
        height: 700px;
        border-radius: 10px;
    }

    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 16px;
        display: block;
    }

    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .active {
        background-color: #04AA6D;
        color: white;
    }

    #logo a {
        width: 50px;
        height: 50px;
        margin: 0;
        padding: 0;
    }

    #logo img {
        width: 70px;
        height: 50px;
        margin: 0;
    }

    .home-page__info {
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
        flex-direction: column;
        align-items: center;

    }

    .profile-image img {
        width: 200px;
        height: 200px;
    }

    .about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-me p {
        width: 250px;
    }

    .skills-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .home-page__info {
        margin-top: 130px;
    }
}